# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
*.CSV

API_AUTH.py
.DS_Store
Spreadsheets/.DS_Store
Spreadsheets/Warehouse/.DS_Store
Spreadsheets/Chase.xlsx
Spreadsheets/PayPal.xlsx
Spreadsheets/Shopify.xlsx
Spreadsheets/shopify_shipping.xlsx
Spreadsheets/Warehouse/Invoice_372313.xlsx
Spreadsheets/Warehouse/Invoice_372985.xlsx
Spreadsheets/Warehouse/Invoice_373639.xlsx
Spreadsheets/Warehouse/Invoice_374337.xlsx
Spreadsheets/Warehouse/Invoice_375011.xlsx
Spreadsheets/Warehouse/Invoice_375687.xlsx
Spreadsheets/Warehouse/Invoice_376358.xlsx
Spreadsheets/Warehouse/Invoice_377034.xlsx
Spreadsheets/Warehouse/Invoice_377792.xlsx
Spreadsheets/Warehouse/Invoice_378352.xlsx
Spreadsheets/Warehouse/Invoice_379022.xlsx
Spreadsheets/Warehouse/Invoice_379722.xlsx
Spreadsheets/Warehouse/Invoice_380401.xlsx
Spreadsheets/Warehouse/Invoice_381080.xlsx
Spreadsheets/Warehouse/Invoice_381762.xlsx
Spreadsheets/Warehouse/Invoice_382447.xlsx
Spreadsheets/Warehouse/Invoice_383137.xlsx
Spreadsheets/Warehouse/Invoice_383910.xlsx
Spreadsheets/Warehouse/Invoice_384550.xlsx
Spreadsheets/Warehouse/Invoice_385548.xlsx
Spreadsheets/Warehouse/Invoice_386127.xlsx
Spreadsheets/Warehouse/Invoice_386939.xlsx
Spreadsheets/Warehouse/Invoice_387667.xlsx
Spreadsheets/Warehouse/Invoice_388397.xlsx
Spreadsheets/Warehouse/Invoice_389129.xlsx
Spreadsheets/Warehouse/Invoice_389669.xlsx
Spreadsheets/Warehouse/Invoice_390474.xlsx
~$ohmygoditworks.xlsx
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/SA_Financial_Automation.iml
.idea/vcs.xml
.idea/workspace.xml
